DJANGO_SECRET_KEY=change-me
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8000,https://*.onrender.com
DATABASE_URL=
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_CONN_MAX_AGE=600
DB_SSL_REQUIRE=0
WHATSAPP_PHONE=
CURRENCY_USD_RATE=0.00026
